.form-parent{
  background:#282c34;
  color:white;
  text-align:center;
  width:40%;
  margin:2% auto;
  border-radius:10px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.35);
}

.form-parent h1{
  margin:0;
  text-align:left;
  padding:2% 4%;
}

.form-input input{
  width: 80%;
  padding:2% 0%;
  margin:2% 0%;
  border-radius: 10px;
}

.form-checkbox{
  margin:2% 0%
}

.form-button{
  padding-bottom:2%;
}
.form-button button{
  color:#282c34;
  background:white;
  border: 1px solid #282c34;
  cursor:pointer;
  padding:1% 4%;
}