.form-parent{
  background:#282c34;
  color:#F0EAD6;
  text-align:center;
  width:40%;
  margin:2% auto;
  border-radius:10px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.35);
}

.form-parent h1{
  margin:0;
  text-align:left;
  padding:2% 4%;
}

.form-input input{
  width: 80%;
  padding:2% 0%;
  margin:2% 0%;
  border-radius: 10px;
  background:#F0EAD6;
}

.form-checkbox{
  margin:2% 0%
}

.form-button{
  padding-bottom:2%;
}
.form-button button{
  color:#282c34;
  background:#F0EAD6;
  border: 1px solid #282c34;
  cursor:pointer;
  padding:1% 4%;
}

.card-list{
  margin:0 auto;
  display:flex;
  flex-wrap:wrap;
  width:80%;
  justify-content:space-around
}


.ui.card{
  background:#282c34;
  min-width:150px;
  min-height:150px;
  margin: 1% !important;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.35);
  border-radius:10px;
}

.card-item{
  background:#282c34;
  color:#F0EAD6;
  padding:2%;
}